{{!-- <h1>{{title}} </h1> --}}
<h1>Welcome to Movie Tracker</h1>

{{!-- <img src="../public/images/Blockbuster_logo.svg.png" /> --}}

 
{{!-- <a href="/auth/signup">Sign Up</a><br>
<a href="/auth/login">Login</a> --}}