<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{title}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>

      <nav>
      {{#if globalUser}}
        <p>Hello, {{globalUser}}</p>
        <nav class="nav">
         <a href="/auth/logout" class="clickable">Log out</a>
         <a href="/auth/edit-user" class="clickable">Edit Username</a>
         <form method="POST" action="/auth/delete">
               <button class="delete-user" type="submit">Delete User</button>
         </form>
         </nav>
      {{else}}
         <h3>Let's get started:</h3><br>
        <a href="/auth/login" class="clickable">Log in</a>
        <a href="/auth/signup" class="clickable">Create an account</a>
      {{/if}}
    </nav>
      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>