<h1> Log in</h1>

<form action="/auth/login" method="POST">
   <label> Username
      <input type="text" name="username">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>

   <button type="submit">Login</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}
<br>
<br>
<a href="/" class="clickable">Back to Home</a>