body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(216, 208, 162);
  color: #6b673f;

}

a {
  color: #6b673f;
  font-weight: bold;
}

h1 {
  color: 15px;
}

.clickable {
  padding: 5px;
  background: rgba(79, 120, 233, 0.3);
  color: #f8f8f5;
  margin: 5px;
  border-radius: 5px;
  font-weight: lighter;
  text-decoration: none;
  font-size: 14px;
  width: fit-content;
  box-shadow: 5px 5px 5px #888888;
}

.clickable:hover {
  border: 1px solid #0004e0;
  color: #0004e0;
  box-shadow: 5px 5px 10px #888888;
}

button {
  background: rgba(79, 120, 233, 0.3);
  color: #f8f8f5;
  border: none;
  border-radius: 5px;
  margin: 5px;
  padding: 6px;
  font-weight: lighter;
  font-size: 14px;
  box-shadow: 5px 5px 5px #888888;;
}

button:hover {
  border: 1px solid #0004e0;
  color: #0004e0;
  box-shadow: 5px 5px 10px #888888;
}

.nav {
  display: flex;
  flex-direction: row;
  padding-bottom: 15px;
  border-bottom: 1px solid #9494db;
  background:rgb(148, 148, 219, 0.3);
  align-items: center;
  padding-top: 10px;
  padding-left: 10px;
}

#profile-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.movie-delete-ul{
  display: flex;
  flex-direction: column;
}

#movies-wrapper {
  padding: 20px 40px;
  margin: 30px;
  border-radius: 5px;
  background-color: rgba(238, 232, 208, 0.3);
  box-shadow: 5px 10px 8px #888888;;
}

#snacks-wrapper {
  padding: 20px 40px;
  margin: 30px;
  border-radius: 5px;
  background-color: rgba(238, 232, 208, 0.3);
  box-shadow: 5px 10px 8px #888888;;
}

.delete-user {
  background: rgba(247, 5, 5, 0.3);
  color: #f8f8f5;
  border-radius: 5px;
  margin: 5px;
  padding: 6px;
  font-weight: lighter;
}

input {
  background-color: rgb(148, 148, 219);
  margin: 15px;
  color: #ffffff;
  border-radius: 5px;
}

select {
  background-color: #9494db;
  margin: 5px;
  color: #6b673f;
}

.movie-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  border-radius: 5px;
  box-shadow: 5px 10px 10px #888888;;
}

.inline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  align-items: center;
}

.info {
  margin-left: 5px;
}

.about {
  font-weight: lighter;
}

.title {
  font-size: 36px;
  padding-bottom: 15px;
  border-bottom: 1px solid #9494db;
  text-align: center;
  padding: 15px;
  /* width: 300px; */
}

.api-wrapper {
  display: flex;
  flex-direction: column;
}

.api {
  height: fit-content;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888888;
  background-color: rgba(238, 232, 208, 0.3);

}

.select {
  background-color: rgb(148, 148, 219);
  margin: 15px;
  border-radius: 5px;
  margin-left: 15px;
}

.add-snack-pg-buttons {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}