<form action="/add-snack" method="POST">
  <input type="text" placeholder="Snack Name" name="name"/><br>
  <select name="category" class="select" multiple>
    <option>Cooked Food</option>
    <option>Popcorn</option>
    <option>Hard Candies</option>
    <option>Chocolate</option>
    <option>Gummies</option>
    <option>Cookies</option>
  </select><br>
  <br>
  <div class="add-snack-pg-buttons">
    <button type="submit">Add Snack</button>
    <a href="/auth/profile" class="clickable">Back to Profile</a>
  </div>
</form>