<form action="/add-snack" method="POST">
  <input type="text" placeholder="Snack Name" name="name"/><br>
  <select name="category" class="input" multiple>
    <option>Cooked Food</option>
    <option>Popcorn</option>
    <option>Hard Candies</option>
    <option>Chocolate</option>
    <option>Gummies</option>
    <option>Cookies</option>
  </select><br>
  <br>
  <button type="submit">Add Snack</button>

</form>