<h1>TRENDING</h1>

{{#each movies}}
  <ul>
    <li><a href="/movie-api/{{imdb_id}}">{{title}}</a> , {{year}}</li>
  </ul>
{{/each}}

<br>
<br>
<a href="/auth/profile" class="clickable">Back to Profile</a>